@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*
    amarelo -> #fff537
*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', Helvetica, sans-serif;
}

:root {
    --branco: #ffffff;
    --preto: #000000;
    --principal: #fff537;
    --cinzaEscuro: #201e1e;
    --cinzaMedio: #2a2828;
    --cinzaClaro: #383535;
}

body {
    background:
    url(./img/toxic_shrooms_by_antonkurbatov_dfvpx5c\ \(1\).png)  ;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.centro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#background {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.635);
}

main {
    width: 50%;
    padding: 25px;
    background: var(--cinzaEscuro);
    border-radius: 20px;
    text-align: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.631);
}


h1 {
    padding-bottom: 15px;
    font-size: 30px;
    color: var(--branco);
}

article#instrucoes {
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 300;
    color: var(--branco);
}

header#cabecario {
    margin-bottom: 15px;
}

article.questao {
    width: 70%;
    padding: 20px;
    background: var(--cinzaMedio);
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.284);
}

span#nQuestao {
    color: var(--preto);
    font-size: 18px;
    font-weight: bolder;
    background: var(--principal);
    border-radius: 50%;
    padding: 2px 8px 2px 8px;
}

h2#pergunta {
    font-size: 18px;
    margin-left: 5px;
    display: inline;
    color: var(--branco);
}

li.letras {
    color: var(--branco);
    font-weight: bold;
    background: var(--cinzaClaro);
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    list-style-type: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.143);
}

li.letras:hover{
    background: var(--principal);
    color: var(--preto);
    cursor: pointer;
}

footer#aviso {
    font-weight: bolder;
    color: var(--branco);
    margin-top: 15px;
}

footer#dev > p {
    padding-top: 15px;
    font-size: 15px;
    font-weight: 300;
    color: var(--branco);
}

.placar {
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    background: var(--cinzaMedio);
}
